.pricing {
  background:rgb(245, 245, 245);
  
}

.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(21, 172, 192, 0.1);
}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.pricing .card-price {
  font-size: 3rem;
  margin: 0;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
  background-color: #100455;
}
.form {
  position: relative;
  top: 85px;
  padding: 0px;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background:'./assets/video.mp4';
}

.login-form {
  width: 300px;
  padding: 20px;
 color: #fff;
  text-align: center;

  /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
button.round {
  background: rgb(28, 2, 75);
  color: white;
  border: none;
  padding: 5px;
  font-size: 20px;
  height: 50px;
  width: 100px;
  box-shadow: 0 2px 4px darkslategray;
}

.login-form h2 {
  color: #ffffff;
  
}
.container h2 {
  color: #0d0616;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form label {
  display: block;
  margin: 10px 0;
}

.login-form input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}

.login-form button {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #100455;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

 button {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #100455;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.login-form button:hover {
  background-color: #0a0344;
}

.welcome {
  
  color:white;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
  .pricing .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .pricing .card:hover .btn {
    opacity: 1;
  }
}
